.borderRightProgram img {
  width: 40px;
  height: auto;
}
@media only screen and (max-width: 768px) {
  .borderRightProgram .dropdown img {
    width: 30px;
    height: auto;
  }
  .borderRightProgram .btn {
 font-size: 10px;
  }
}
