.why_become_mentor , .knowledge_experience , .joinCommunity {
  padding: 2rem 0rem;
  background-color: #e6ffe6;
}

.inspire_guide , .joinCommunity{
  padding: 2rem 0rem;
  background-color: #f4fff5;
}
