.nav-item.active-tab > a {
  background-color: var(--color-blue);
  color: white;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.nav-item a {
  padding: 10px 15px;
  display: block;
  text-decoration: none;
  color: #333;
}

.nav-item.dropdown > a::after {
  content: " ▼";
  font-size: 12px;
  margin-left: 5px;
}
.above-line {
    background-color: var(--color-began); /* Dark blue background */
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    padding: 1px 20px;
  }
  
  .above-line .contact-info {
    display: flex;
    gap: 20px;
  }
  
  .above-line .contact-info .single-info {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  
  .above-line .contact-info .single-info i {
    color: white; /* Light blue color for icons */
    font-size: 16px;
  }
  
  .above-line .contact-info .single-info a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .above-line .contact-info .single-info a:hover {
    color: #b5e7e6; /* Light greenish-blue on hover */
  }
  
  .above-line .social-icons a {
    color: white;
    margin-left: 15px;
    font-size: 1.1rem;
    transition: color 0.3s ease;
  }
  
  .above-line .social-icons a:hover {
    color: #00aaa9; /* Light blue on hover */
  }
  
  .above-line .login-links {
    display: flex;
    gap: 15px;
  }
  
  .above-line .login-links a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
    font-style: italic;
  }
  
  .above-line .login-links a:hover {
    color: #b5e7e6;
  }
  
  @media (max-width: 768px) {
    .above-line{
      display: none;
    }
    .poster h2 {
      font-size: 12px;
    }
    .poster h3{
      font-size: 10px;
    }
    .above-line {
      flex-direction: column;
      align-items: center;
      text-align: center;
      justify-content: space-between;
      gap: 0px;
      padding: 0px !important;
      margin: 0px !important;
      width: 100%;
    }
  
    .above-line .contact-info,
    .above-line .login-links {
      flex-direction: row;
      justify-content: space-between;
      gap: 15px;
      width: 95%;
    }
    .above-line .social-icons {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .above-line .contact-info .single-info,
    .above-line .login-links a,
    .above-line .social-icons a {
      font-size: 12px;
      margin: 5px 0;
    }
  
    .above-line .social-icons {
      gap: 10px;
    }
  
    .above-line .social-icons a {
      font-size: 1.2rem;
    }
  }
  
  header {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 1000;
    background: white;
    border-bottom: 1px solid var(--light-began);
  }
  
  header .head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background: white;
  }
  
  header .head .logo {
    display: flex;
    gap: 0.4rem;
    align-items: center;
  }
  header .head .logo img {
    height: 80px;
    width: auto;
  }
  
  header .head .side-icons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 0.5rem;
  }
  
  header .head .side-icons .icon {
    margin-left: 0.5rem;
    position: relative;
  }
  
  header .head .side-icons .icon i {
    color: var(--color-began);
    font-size: 1.5rem;
  }
  
  header .head .side-icons .icon .cart-num {
    position: absolute;
    top: -15%;
    right: -15%;
    background: var(--yellow);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 17px;
    width: 17px;
    color: black;
    font-size: 0.9rem;
  }
  
  header .searchform {
    border-radius: 20px 20px 20px 20px;
    background: var(--color-light-grey);
    padding: 0.5rem 1rem;
    flex-basis: 40%;
  }
  
  header .searchform > .searchform-inner {
    display: grid;
    grid-template-columns: auto 40px;
  }
  
  header .searchform .searchform-inner input[type="text"] {
    background: var(--color-light-grey);
    border: none;
    outline: none;
  }
  
  header .searchform-inner button {
    border-radius: 0 20px 20px 0;
    background: var(--color-light-grey);
    color: var(--color-began);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  header .nav-links {
    background: var(--color-began);
  }
  
  header .nav-links > ul {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  
  header .nav-links ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    font-size: 0.9rem;
  }
  
  header .nav-links ul li {
    position: relative;
    margin-right: 10px;
  }
  
  header .nav-links ul li a {
    color: white;
    text-decoration: none;
    padding: 8px 12px;
    display: inline-block;
    transition: background-color 0.3s ease;
    font-size: 18px;
  }

  .nav-links ul li a.active-tab {
    background-color: var(--color-blue);
  }
  
  header .nav-links ul li a:hover {
    color: var(--color-light-grey);
  }
  
  /* Dropdown menu styles */
  header .nav-links ul li.dropdown .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    visibility: hidden;
    transition: max-height 0.5s ease, opacity 0.5s ease, visibility 0.5s ease;
    border-radius: 4px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  /* Show dropdown on hover */
  header .nav-links ul li.dropdown:hover .dropdown-menu {
    max-height: 500px;
    /* Set this to a value larger than the expected content height */
    opacity: 1;
    visibility: visible;
    transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out,
      visibility 0.5s ease-in-out;
  }
  
  header .nav-links ul li .dropdown-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
  }
  
  header .nav-links ul li .dropdown-menu li {
    margin-right: 0px !important;
    border-bottom: 1px solid black;
  }
  
  header .nav-links ul li .dropdown-menu li a {
    padding: 10px 12px;
    display: block;
    text-wrap: nowrap;
    color: black;
    text-decoration: none;
    transition: all 0.3s ease;
    font-size: 0.8rem;
  }
  
  header .nav-links ul li .dropdown-menu li a:hover {
    color: white;
    background: var(--color-began);
    padding-left: 1rem;
  }
  
  /* For a smoother transition */
  header .nav-links ul li.dropdown .dropdown-menu {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
  }
  
  .headerImage {
    height: 100%;
    width: 80px;
  }
  
  .headingImageMain {
    display: flex;
    gap: 50px;
  }
  
  @media only screen and (min-width: 900px) {
    header .head .side-icons .icon.hamburger {
      display: none;
    }
  }
  
  @media only screen and (max-width: 900px) {
      .headingImageMain {
          display: none;
        }
    header .head .side-icons .icon.hamburger {
      display: block;
    }
  
    header .head {
      flex-wrap: wrap;
      display: block;
    }
  
    header .head > div {
      flex-basis: 50%;
    }
  
    header .head .searchform {
      margin-top: 0.5rem;
      flex-basis: 100%;
      order: 3;
    }
  
    /* --- Responsive Nav Links ---  */
    /* Basic styles for nav links */
    header .nav-links {
      max-height: 0;
      overflow-x: hidden;
      opacity: 0;
      transition: max-height 0.5s ease-in-out, opacity 0.3s ease-in-out;
      background-color: #fff;
      border: 1px solid #ddd;
      position: absolute;
      top: 100%;
      right: 0;
      width: 100%;
      z-index: 1000;
    }
  
    header .nav-links.active {
      max-height: 100vh;
      height: 700%;
      overflow-y: auto;
      opacity: 1;
      transition: max-height 0.5s ease-in-out, opacity 0.3s ease-in-out;
    }
  
    header .nav-links > ul {
      flex-wrap: wrap;
      flex-direction: column;
      align-items: flex-start;
    }
  
    header .nav-links > ul > li {
      border-bottom: 1px solid var(--color-began);
      width: 100%;
      position: relative;
      padding-left: 0px; /* Space for the + icon */
    }
  
    header .nav-links > ul > li:nth-child(1) {
      border-top: 1px solid var(--color-began);
      width: 100%;
    }
  
    header .nav-links ul li a {
      font-size: 0.8rem;
      display: block;
      width: 100%;
      color: black;
    }
    header .nav-links ul li a:hover {
      color: var(--color-began);
    }
  
    /* Add a + sign to items with submenus */
    header .nav-links ul li.dropdown > a::after {
      content: "+";
      position: absolute;
      right: 5%;
      top: 50%;
      transform: translateY(-50%);
      font-size: 1rem;
      color: white;
      background: var(--color-began);
      padding: 3px 8px;
    }
  
    /* When the dropdown is hovered or focused, change the + to - */
    header .nav-links ul li.dropdown:hover > a::after,
    header .nav-links ul li.dropdown:focus-within > a::after {
      content: "-";
      top: 18px;
    }
  
    /* Dropdown menu styles */
    header .nav-links ul li.dropdown .dropdown-menu {
      max-height: 0;
      overflow: hidden;
      opacity: 0;
      visibility: hidden;
      transition: max-height 0.5s ease, opacity 0.5s ease, visibility 0.5s ease;
      position: relative;
      top: 0;
      background-color: white;
      border-radius: 4px;
      width: 100%;
    }
  
    /* Show dropdown on hover or focus */
    header .nav-links ul li.dropdown:hover .dropdown-menu,
    header .nav-links ul li.dropdown:focus-within .dropdown-menu {
      max-height: 500px;
      opacity: 1;
      visibility: visible;
      transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out,
        visibility 0.5s ease-in-out;
  
      box-shadow: none;
      border-radius: 0px;
    }
  
    header .nav-links ul li .dropdown-menu li {
      margin-right: 0px !important;
      border-bottom: 1px solid var(--light-began);
    }
  
    header .nav-links ul li .dropdown-menu li a {
      padding: 10px 12px;
      display: block;
      color: black;
      text-decoration: none;
      transition: all 0.3s ease;
    }
  
    header .nav-links ul li .dropdown-menu li a:hover {
      background-color: var(--color-blue);
      color: white;
      padding-left: 0.5rem;
      /* font-size: 0.95rem; */
    }
  }
  
  @media only screen and (max-width: 580px) {
    header {
      margin-bottom: 0.2rem;
      border-bottom: 1px solid var(--light-began);
    }
  
    header .head {
      padding: 0.5rem 0.4rem;
    }
    header .head > div:nth-child(1) {
      flex-basis: 100%;
      display: flex;
      justify-content: space-between;
    }
    header .head > div:nth-child(2) {
      flex-basis: 20%;
    }
  
    header .head .logo img {
      height: 50px;
      max-width: 100%;
      width: 50px;
      object-fit: contain;
    }
    header .head .poster img {
      width: 100%;
    }
  
    header .head .side-icons .icon i {
      font-size: 1.5rem;
    }
  }
  